.section {
  background: var(--secondary-color);
  padding: 3rem 0;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.card{
    background-color: var(--secondary-color);
    border-radius: 1px;
    padding: 32px 16px;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: var( --font-size-body);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    transition: 0.25s ease;
}

.card:hover{
    transform: translateY(-4px);
    box-shadow: 0 16px 34px rgba(0, 0, 0, 0.12);   
}

.icon{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    border: 0.5px solid var(--tertiary-color);
    justify-self: center;
}


@media (max-width: 768px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .grid{
        grid-template-columns: 1fr;
    }
}