
:root {
  --primary-color: #454545;
  --secondary-color: #ffffff;
  --tertiary-color: #011A42;
  --quaternary-color: #FFD23D;
  --quinary-color: #383838;
  --senary-color: #2C2C2C;
  --septenary-color: #000000;


  --foreground: var(--secondary-color); 
  --background: var(--secondary-color); 

  --base-font-size: 16px;
  --type-scale-ratio: 1.25; 

  --fs-900: calc(var(--base-font-size) * var(--type-scale-ratio) * var(--type-scale-ratio) * var(--type-scale-ratio) * var(--type-scale-ratio)); /* ×1.5⁴ */
  --fs-800: calc(var(--base-font-size) * var(--type-scale-ratio) * var(--type-scale-ratio) * var(--type-scale-ratio)); /* ×1.5³ */
  --fs-700: calc(var(--base-font-size) * var(--type-scale-ratio) * var(--type-scale-ratio)); /* ×1.5² */
  --fs-600: calc(var(--base-font-size) * var(--type-scale-ratio)); /* ×1.5¹ */
  --fs-500: var(--base-font-size); /* ×1.5⁰ - Base */
  --fs-400: calc(var(--base-font-size) / var(--type-scale-ratio)); /* ÷1.5¹ */
  --fs-300: calc(var(--base-font-size) / var(--type-scale-ratio) / var(--type-scale-ratio)); /* ÷1.5² */

  font-size: var(--base-font-size);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: var(--secondary-color);
    --secondary-color: var(--primary-color);
;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.topStack {
  position: relative;
  width: 100%;
  background-color: transparent !important;
  z-index: 1;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


:is(body, main, .page, .contentContainer) h1 {
  font-size: var(--fs-900);
}
