
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  width: 100%;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: var(--foreground);
}

.fullWidthContainer {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 0;
  margin: 0;
}

.fullWidthContainer > * {
  width: 100%;
}

.contentContainer {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

.fullWidthContainer:not(:first-child) {
  margin-top: 2rem;
}

.contentContainer:not(:first-child) {
  margin-top: 2rem;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: var(--fs-800);  
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: var(--fs-400);
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

.topStack {
  position: relative;
  width: 100%;
  background-color: transparent;
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .contentContainer {
    padding: 48px 24px;
  }
  
  .fullWidthContainer {
    padding: 0 1rem;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}