/* page.module.css - for sitemap, privacypolicy, and terms pages */
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 2rem 1rem;
  padding: 100px 130px;
}

.title{
  font-size: var(--font-size-body);
  padding-bottom: 20px;
}

.termsandcondition p{
  font-size: var(--font-size-body);
  padding-bottom: 15px;
}